.inbody{
	background-color:rgba(0,0,0,0.9);
	background-blend-mode: multiply;
	background-size: 100%;
	background-repeat: no-repeat;
}
.bodies{
	background-color:rgba(0,0,0,0.9);
	font-family: arial;
}
.title{
	font-family: arial;
	letter-spacing:1vw;
}
#a{
	animation:b 3s 1;
}
@keyframes b{
    0%{font-size:26px;}
    20%{font-size:35px;text-shadow: 2px 2px #00001a;color:#ff9900;}
    40%{font-size:26px;}
    60%{font-size:26px;}
    80%{font-size:26px;}
    100%{font-size:26px;}
}
#b{
	animation:c 3s 1;
}
@keyframes c{
    0%{font-size:26px;}
    20%{font-size:26px;}
    40%{font-size:26px;}
    60%{font-size:35px;text-shadow: 2px 2px #00001a;color:#ff9900;}
    80%{font-size:26px;}
    100%{font-size:26px;}
}
#c{
	animation:d 3s 1;
}
@keyframes d{
    0%{font-size:26px;}
    20%{font-size:26px;}
    40%{font-size:26px;}
    60%{font-size:26px;}
    80%{font-size:26px;}
    100%{font-size:35px;text-shadow: 2px 2px #00001a;color:#ff9900;}
}

.heading-primary--main{
	font-size:26px;
	color:grey;
	font-weight: 400;
	visibility: hidden;
	animation-fill-mode: forwards;
	animation-name: moveInLeft;
	animation-delay: 3s;
	animation-duration:1s;
	animation-timing-function: ease-out;}
	/*
	animation-iteration-count: 3;
	animation-delay: 3s;
	*/
@keyframes moveInLeft{
	0%{
		visibility: visible;
		opacity: 0;
		transform: translateX(-100px) rotate(0deg);
	}
	/*60%{
		transform: rotate(180deg);
	}*/
	80%{
		visibility: visible;
		transform:translateX(10px);
	}
	100%{
		visibility: visible;
		opacity: 1;
		transform: translate(0);
	}
}
.proc{
	visibility: hidden;
	animation-fill-mode: forwards;
	animation-name: moveInLeft;
	animation-delay: 4s;
	animation-duration:1s;
	animation-timing-function: ease-out;}

.text{
	visibility: hidden;
	animation-fill-mode: forwards;
	animation-name: moveInLeft;
	animation-delay: 0s;
	animation-duration:1s;
	animation-timing-function: ease-out;}
.text1{
	visibility: hidden;
	animation-fill-mode: forwards;
	animation-name: moveInLeft;
	animation-delay: 1s;
	animation-duration:1s;
	animation-timing-function: ease-out;}
.text2{
	visibility: hidden;
	animation-fill-mode: forwards;
	animation-name: moveInLeft;
	animation-delay: 2s;
	animation-duration:1s;
	animation-timing-function: ease-out;}
.pic{
  visibility: hidden;
  animation-fill-mode: forwards;
  animation-name: moveInRight;
  animation-delay: 0s;
  animation-duration:1s;
  animation-timing-function: ease-out;}
  @keyframes moveInRight{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translateX(100px);
  }
  /*60%{
    transform: rotate(180deg);
  }*/
  80%{
    visibility: visible;
    transform:translateX(10px);
  }
  100%{
    visibility: visible;
    opacity: 1;
    transform: translate(0);
  }
}

.box1{
  visibility: hidden;
  animation-fill-mode: forwards;
  animation-name: moveInLeft;
  animation-delay: 1s;
  animation-duration:.5s;
  animation-timing-function: ease-out;}
.box2{
  visibility: hidden;
  animation-fill-mode: forwards;
  animation-name: moveInLeft;
  animation-delay: 1.5s;
  animation-duration:.5s;
  animation-timing-function: ease-out;}
.box3{
  visibility: hidden;
  animation-fill-mode: forwards;
  animation-name: moveInLeft;
  animation-delay: 2s;
  animation-duration:.5s;
  animation-timing-function: ease-out;}
  .box4{
  visibility: hidden;
  animation-fill-mode: forwards;
  animation-name: moveInRight;
  animation-delay: 0s;
  animation-duration:.5s;
  animation-timing-function: ease-out;}
  .footer{
  	background-color: black;
  }
  .btn{
  	border-radius: 0;
  }